/* @import "tailwindcss";
@import "tw-animate-css";


@layer base {
  :root {
    --primary: 25 93 230;
    --background: 248 249 252;
  }

  .dark {
    --background: 17 22 33;
  }

  body {
   
    background-color: rgb(var(--background));
  }
} */

@import "tailwindcss";

@layer base {
  :root {
    --background: 248 249 252;
    --primary: 25 93 230;
  }

  .dark {
    --background: 17 22 33;
    --primary: 96 165 250;
  }

  body {
     font-family: Inter, sans-serif;
    background-color: rgb(var(--background) / 1);
  }
}


*{
  @apply
  box-border

}

.sidebar-menu-item{
  @apply
  opacity-0
  hover:opacity-100
  transition-colors
  duration-200
  ease-in-out
  rounded-md
  px-3
  py-2
  cursor-pointer
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}